<h2 id="page_heading">Instructions</h2>
<p class="instructions">
  Now that you've registered your blog, your latest post will appear in the feed!  On your end all you need to do is:
  <ul>
   <li class="instruction">
       - Add the class name "block_overflow" to the HTML tag containing each post.
    </li>
   <li class="instruction">
      - List your newest post first at the top.
   </li>
</p>