<h1>Add Site</h1>
<form action="/sites/create" method="POST">
  <input type="text" name="student_name" placeholder="your name" />
  <input type="text" name="url" placeholder="your url" />
  <input type="text" name="description" placeholder="your site description" />
  <input type="submit" value="add" />
</form>