<h2 id="page_heading">Add Site</h2>
<form action="/sites/create" method="POST">
  <input class="new_site_form_input" type="text" name="student_name" placeholder="your name" />
  <input class="new_site_form_input" type="text" name="url" placeholder="your url" />
  <input class="new_site_form_input" type="text" name="description" placeholder="your site description" />
  <input class="new_site_form_input" type="submit" value="add" />
</form>
<p class="instructions">
  Register your blog using the form above and your latest post will appear in the feed!  Just remember:
  <ul>
   <li class="instruction">
       - add the class "block_overflow" to the HTML tag containing your post
    </li>
   <li class="instruction">
      - make sure your posts are listed with the newest at the top.
   </li>
</p>