<h2 id="page_heading">Add Site</h2>
<form action="/sites/create" method="POST">
  <input class="new_site_form_input" type="text" name="student_name" placeholder="your name" />
  <input class="new_site_form_input" type="text" name="url" placeholder="your url" />
  <input class="new_site_form_input" type="text" name="description" placeholder="your site description" />
  <input class="new_site_form_input" type="submit" value="add" />
</form>
<p class="instructions">
  Register your blog using the form above and your latest post will appear in the feed!  Then on your end, all you need to do is:
  <ul>
   <li class="instruction">
       - Add the class name "block_overflow" to the HTML tag containing each post.
    </li>
   <li class="instruction">
      - List your newest post first at the top.
   </li>
</p>