<h2 id="page_heading">Add Site</h2>
<form action="/sites/create" method="POST">
  <input class="new_site_form_input" type="text" name="student_name" placeholder="your name" />
  <input class="new_site_form_input" type="text" name="url" placeholder="your url" />
  <input class="new_site_form_input" type="text" name="description" placeholder="your site description" />
  <input class="new_site_form_input" type="submit" value="add" />
</form>